body {
    background: rgb(254, 187, 65);
    box-sizing: border-box;
    border: none;
}

.wrapper {
    width: 1511px;
    height: 886px;
    border-radius: 24px;
    background: linear-gradient(-31.69deg, rgb(244, 236, 225) 57.84%,rgb(252, 251, 247) 144.095%);
    display: block;
    margin: auto;
    margin-top: 60px;
    padding: 48px 87px 65px;
}

.logo_button {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 139.8%;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
 }

.nav {
  display: inline-block;
  margin-left: 533px;
}

.nav_elem {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.8%;
  cursor: pointer;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 54px;
  padding: 0;
}

.nav_button {
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-style: normal;
    font-size: 22px;
    font-weight: 590;
    line-height: 94.8%;
    text-align: left;
    padding: 0;
}

ul {
  padding: 0;
}
.search_input {
  width: 314px;
  height: 60px;
  padding-left: 41px;
  padding-right: 35px;
  border-radius: 30px;
  box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.1);
  background: rgba(255, 249, 240, 0.1);
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 22px;
  font-weight: 590;
  line-height: 94.8%;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 25px;
}



.info_left {
  width: 568px;
  display: inline-block;
  position: relative;
  top: 2px;

}

.info_right {
  width: 750px;
  display: inline-block;
  margin-top: 37px;
  margin-left: 85px;

}

.info_img {
  width: 750px;
  height: 712px;
 }

  .info_headers {
 margin-left: 87px;
 }


 .info_headers_1 { 
  color: rgb(47, 47, 47);
  font-family: Poppins;
  font-size: 52px;
  font-weight: 700;
  line-height: 94.8%;
  letter-spacing: 0%;
  text-align: left;
  display: inline-block;
  margin-left: 18px;
  height: 98px;
}

 .info_headers_2 {
  color: rgb(255, 126, 0);
  font-family: Poppins;
  font-size: 125px;
  font-weight: 700;
  line-height: 94.8%;
  letter-spacing: -3.5%;
  display: inline-block;
  height: 10px;
 }

 .info_text {
  color: rgb(144, 144, 144);
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 138.8%;
  letter-spacing: 0%;
  margin-top: 24px;
  width: 586px;
  height: 62px;
  margin-left: 87px;
 }

.info_order {
  margin-top: 44px;
}

 .order_btn {
  border-radius: 84px;
  box-shadow: 0px 20px 32px -8px rgba(0, 0, 0, 0.2);
  background: rgb(47, 47, 47);
  width: 188px;
  height: 70px;
  color: rgb(244, 236, 225);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 94.8%;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 26px;
  padding-right: 41px;
  display: inline-block;
  cursor: pointer;
  margin-left: 87px;
 }

 .watch_btn {
  cursor: pointer;
  border: none;
  background: linear-gradient(-31.69deg, rgb(244, 236, 225) 57.84%,rgb(252, 251, 247) 144.095%);
  }

 .watch_btn_text {
  color: rgb(47, 47, 47);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 94.8%;
  letter-spacing: 0%;
}
 