body {
    background: rgb(254, 187, 65);
    box-sizing: border-box;
}

.wrapper {
    width: 1511px;
    height: 886px;
    border-radius: 24px;
    background: linear-gradient(-31.69deg, rgb(244, 236, 225) 57.84%,rgb(252, 251, 247) 144.095%);
    display: block;
    margin: auto;
    margin-top: 60px;
    padding: 48px 87px 65px; 
}

.logo_button {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 139.8%;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
 }

.nav {
  display: inline-block;
  margin-left: 533px;
}

.nav_elem {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.8%;
  cursor: pointer;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 54px;
  padding: 0;
}

.nav_button {
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-style: normal;
    font-size: 22px;
    font-weight: 590;
    line-height: 94.8%;
    text-align: left;
    padding: 0;
}

ul {
  padding: 0;
}
.search_input {
  width: 314px;
  height: 60px;
  padding-left: 41px;
  padding-right: 35px;
  border-radius: 30px;
  box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.1);
  background: rgba(255, 249, 240, 0.1);
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 22px;
  font-weight: 590;
  line-height: 94.8%;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 25px;
}

.info_img {
  width: 750px;
  height: 712px;
 }
